<h1><%="Recipe: #{@recipe.name}"%></h1>

<div>
  <header>Ingredients:</header>
  <p><%=@recipe.ingredients%></p>
</div>

<div>
  <header>Cook Time:</header>
  <p><%=@recipe.cook_time%></p>
</div>

</br>
<p>Update Recipe: <a href="/recipes/<%=@recipe.id%>/edit">HERE</a></p>

</br>
<form action="/recipes/<%=@recipe.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Recipe">
</form>

</br>
<p><a href="/recipes">BACK</a></p>